@charset "UTF-8";
/* ----------css reset start---------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------css reset end---------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body p {
  line-height: 1.5;
  font-size: 16px;
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 15px 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo a {
  background-image: url(https://fakeimg.pl/250x250/);
  width: 250px;
  height: 250px;
  display: block;
  text-indent: 101%;
  /*首行縮排*/
  overflow: hidden;
  /*自動隱藏超出的文字或圖片*/
  white-space: nowrap;
  /*使元素在第一排上面，不斷行*/
}

@media (max-width: 768px) {
  .logo a {
    background-image: url(https://fakeimg.pl/150x150/);
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .menu li {
    width: 50%;
    margin-bottom: 10px;
  }
}

.menu li a {
  background: #3399FF;
  color: #fff;
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.menu li a:hover {
  background-color: orange;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .content {
    display: block;
  }
}

.content .text {
  width: 75%;
  border: 2px solid black;
  padding: 10px;
}

@media (max-width: 768px) {
  .content .text {
    width: 100%;
    margin-bottom: 20px;
  }
}

.content .text h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.content .text p {
  margin-bottom: 24px;
}

.content .banner {
  border: 2px solid black;
  padding: 5px;
  width: 20%;
}

@media (max-width: 768px) {
  .content .banner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content .banner img {
  margin-bottom: 10px;
}

.footer {
  padding: 8px;
  text-align: center;
}

.footer p {
  line-height: 1;
}
