// Luna助教給的建議
// 1.  請在 body 統一設定大部分行高、字體、字體大小，再針對不同行高、字體大小額外設定，例如大部分內文為 1.5，標題的行高為 1.2，避免寫重複的樣式設定
// 2.  .content .text 不要設定寬度，請讓文字自適應大小，並將 216 * 216 外層 div 移除
// 3.  移除後圖片有被拉長的狀況，請設定 .content 的 align-items，改變 flex 對齊方式就不會被拉長囉
// 4.  請依照設計稿讓內容不超過 3 行，就不會影響區塊高度
// 5.  請移除沒有設定樣式的 class 

@import 'reset';

body{
    font-size: 16px;
    line-height: 1.5;
}
.wrap{
    max-width: 640px;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; //why
    li{
        display: flex;
        margin-bottom: 24px;
    }
    .text{
        margin: 0 20px;
        h1{
            font-size: 20px;
            line-height: 1.2;
        }
    }
}
.footer{
    text-align: center;
    padding: 48px 0;
}